<footer>
  <div class="footer_baggrund">
    <section>
      <h3>Din donation er vigtig!</h3>
      <a class="button" href="https://www.itmv.dk/pages/donation">Læs mere her</a>
    </section>
    <section>
      <h3>Følg oss</h3>
      <div class="ikoner">
        <a href="https://www.instagram.com/itraadmedverden"> <img src="/svg/insta.svg" alt="link til itmv instagram" /></a>
        <a href="https://www.facebook.com/itraadmedverden"> <img src="/svg/facbook.svg" alt="link til itmv facebook" /></a>
        <a href="https://www.linkedin.com/company/i-tråd-med-verden/"> <img src="../public/svg/linkedin.svg" alt="link til itmv linked in" /></a>
      </div>
    </section>
  </div>
</footer>

<style>
  h3 {
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
  }

  a {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
    color: black;
    font-size: 32px;
  }

  footer {
    background-color: white;
  }

  .footer_baggrund {
    background-image: url("../public/img/footer_baggrund.jpg");
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 4em;
    padding: 5% 5% 5% 5%;
  }

  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4em;
  }

  .ikoner {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
  }
</style>
