<header>
  <div class="bagrun">
    <img src="/public/img/forside.webp" alt="begrunsbilde" />
    <section class="links">
      <div class="flex">
        <a class="instagram" href="https://www.instagram.com/itraadmedverden"> <img src="/svg/insta.svg" alt="link til itmv instagram" /></a>
        <a class="website" href="https://www.itmv.dk"> <img src="/svg/itmv.svg" /></a>
      </div>
    </section>
    <section class="logo">
      <img src="/svg/logo.svg" alt="logo av itmv" />
    </section>
    <img class="hand_1" src="/public/svg/hand_1.svg" alt="ilustrasjon av en hånd" />
    <img class="tskjorte" src="/public/svg/tskjorte.svg" alt="illustrasjon av t skjorte" />
    <img class="skral" src="/public/svg/skral.svg" alt="illustrasjon av et skrallespan med tøj i" />
    <img class="tskjorte_1" src="/public/svg/tskjorte.svg" alt="illustrasjon av t skjorte" />
    <img class="hender_2" src="/public/svg/hands_2.svg" alt="illustrasjon av hender" />
  </div>
  <section class="text">
    <h1>GØR EN FORSKEL - ÉN SØM AD GANGEN</h1>
    <h1>KØB MED OMTANKE</h1>
    <h1>BÆREDYGTIGE PRODUKTER MED ET FORMÅL</h1>
  </section>
</header>

<style>
  .instagram {
    width: 100px;
  }
  .website {
    width: 100px;
  }
  .bagrun {
    background-color: white;
    position: relative;
    text-align: center;
    color: white;
  }
  .links {
    position: absolute;
    top: 8px;
    right: 16px;
  }
  .flex {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  .logo {
    position: absolute;
    top: 5%;
    left: 35%;
    width: 25%;
  }

  .hand_1 {
    position: absolute;
    top: 8px;
    width: 25%;
  }
  .tskjorte {
    position: absolute;
    top: 16%;
    left: 3%;
    width: 23%;
  }
  .skral {
    position: absolute;
    top: 56%;
    left: 8%;
    width: 23%;
  }
  .tskjorte_1 {
    position: absolute;
    bottom: 150px;
    right: 50px;
    width: 27%;
  }
  .hender_2 {
    position: absolute;
    bottom: 0px;
    right: 7px;
    width: 36%;
  }

  .text {
    width: 50%;
    position: absolute;
    bottom: 2%;
    right: 0%;
  }
  h1 {
    font-size: 2rem;
  }

  @media screen and (max-width: 700px) {
    .text {
      width: 50%;
      position: absolute;
      bottom: 60%;
      right: 1%;
    }
    h1 {
      font-size: 1rem;
    }
  }
</style>
